.text-1p125_rem {
  font-size: 1.125rem !important;
}

.text-2_rem {
  font-size: 2rem !important;
}

.text-2p25_rem {
  font-size: 2.25rem !important;
}

.text-2p5_rem {
  font-size: 2.25rem !important;
  @media (min-width: 600px) {
    font-size: 2.5rem !important;
  }
}

.text-4_rem {
  font-size: 3.375rem !important;
  @media (min-width: 600px) {
    font-size: 4rem !important;
  }
}

.text-5p625_rem {
  font-size: 5.625rem !important;
}

.text-6p25_rem {
  font-size: 6.25rem !important;
}

.ls-4_px {
  letter-spacing: 4px !important;
}

.lh-18_px {
  line-height: 18px !important;
}

.lh-26_px {
  line-height: 26px !important;
}

.lh-46_px {
  line-height: 46px !important;
}

.lh-68_px {
  line-height: 68px !important;
}

.ls-4_px {
  letter-spacing: 4px !important;
}
